.menuContainer {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 20vw;
    z-index: -1;
}

.linksContainer {
    top: 7.5%;
    position: relative;
    height: 92.5%;
    padding: 10px;
    list-style: none;
}

.link {
    color: #f8e2d3;
    font-family: "Satoshi";
    font-weight: 100;
    margin: 2em;
    text-align: left;
    font-size: 1.5em;
}
